@(teacherForm: Form[Teacher])

@import helper._
@import helper.twitterBootstrap._

@main("Teacher form") {
    <h1>Giao vu</h1>
    @helper.form(action = routes.Teachers.save()) {
        <fieldset>
            <legend>Teacher (@teacherForm("name").valueOr("New"))</legend>
            @helper.inputText(teacherForm("ten"), '_label -> "Ho Ten")
            @helper.inputText(teacherForm("chucvu"), '_label -> "Chuc vu")
            @helper.textarea(teacherForm("sodienthoai"), '_label -> "So dien thoai")
        </fieldset>
    }
}