@(loginForm: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._

@main("Please sign in to the warehouse application") {
    @helper.form(helper.CSRF(routes.Application.authenticate)) {
        </head>
        <body >
            <div id="wrapper" style="color: #007F49;">
                <div id="header">
                    <img src="http://vnu.edu.vn/home/images/logo.png" align="left"/>
                    <p>HỆ THỐNG QUẢN LÝ LUẬN VĂN</p>
                </div> <!--end div header-->
                <hr />
                <div id="middle">
                    <div id="content">
                        <div id="left">
                            <div style=" background-color: #00A855;max-height: 40px; margin: 0px; padding: 7px; text-align: center; font-size: 20px; font-weight: bold;color: #ffffff;">
                                THÔNG BÁO
                            </div>
                            <div style="height: 150px; padding-top: 30px;">
                                <ul  style="color: #007F49;">
                                    <li>Sinh Viên Đã Tốt Nghiệp Truy Cập Theo Địa Chỉ <a href="http://svtotnghiep.daotao.vnu.edu.vn">http://svtotnghiep.daotao.vnu.edu.vn</a></li>
                                    <li>Sinh Viên Đăng Ký Học Tại Địa Chỉ<a href=" http://dangkyhoc.daotao.vnu.edu.vn"> http://dangkyhoc.daotao.vnu.edu.vn</a></li>
                                </ul>
                            </div>
                        </div><!--end div left-->
                        <div id="login"><div style="  max-height: 40px; background-color: #00A855; margin: 0px; padding: 7px; text-align: center; font-size: 20px; font-weight: bold;color: #ffffff;">
                            ĐĂNG NHẬP HỆ THỐNG</div>
                            <div style=" background-color: #ffffff;">
                            <h1>Đăng nhập</h1>
        <p>
            <input type="email" name="email" placeholder="email"
            value="@loginForm("email").value">
        </p>
        <p>
            <input type="password" name="password"
            placeholder="Password">
        </p>
        <p>
            <button type="submit">Sign in</button>
        </p>

    }
}